src
stats.html
tsconfig.json
tslint.json
/.idea
/.vscode
/.github
/.settings
/.commitlintrc.json
/.editorconfig
/.huskyrc
/.lintstagedrc
/.prettierignore
/.prettierrc
/.snyk
/.travis.yml
/*.ts
*.code-*
*.lock
*.log
